
/*debug length onClick*/

html, body {
  font-family: 'Muli', sans-serif;
  max-width: 100% !important;
  overflow-x: hidden !important;
}

a {
  text-decoration: none;
}

a h2 {
  color: white;
}

.arrow-down {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  -webkit-transform: rotate(180deg);
}

.arrow-up {
  height: 15px;
  left: 425px;
  position: absolute;
  top: 20px;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  width: 15px;
}

.candy {
  background-color: #FF6347;
  border-radius: 3px;
  display: inline-block;
  height: 50px;
  left: 540px;
  margin-top: 90px;
  position: relative;
  width: 50px;
}

.contact-icon {
  height: 40px;
  margin-left: 30px;
  vertical-align: middle;
  width: 40px;
}

.contact-link {
  background-color: #786D5F;
  border-radius: 3px;
  box-shadow: 0 3px 0 0 #a2a2a2;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  width: 500px;
}

.contact-link:hover {
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  opacity: 0.7;
  padding-left: 30px;
  width: 700px;
}

.contact-text {
  display: inline-block;
  color: #FAFAFA;
  line-height: normal;
  margin-left: 10px;
  vertical-align: middle;
}

.dropdown {
  display: none;
}

.dummy-link:hover {
  color: #786D5F;
}

.dummy-link li {
  margin-right: 40px;
}

.github-thumbnail {
  height: 100px;
  left: 339px;
  padding-left: 30px;
  position: absolute;
  top: 49px;
}

h1 {
  display: block;
  margin-top: 30px;
  margin-left: 510px;
  margin-right: 20px;
  position: relative;
}

.image {
  position: relative;
  width: 100%;
}

.menu {
  list-style: none;
  margin-left: 472px;
  padding-right: 50px;
}

.menu li {
  padding-bottom: 10px;
  padding-top: 10px;
}

.my-code {
  color: #FF6347;
  display: inline-block;
  left: 402px;
  position: absolute;
  top: 17px;
}

.my-code:hover {
  color: #786D5F
}

.navigation {
  margin-left: 503px;
  margin-top: 40px;
  position: relative;
}

.navigation li {
  display: inline-block;
}

.portfolio-description {
  list-style: lower-alpha;
  margin-bottom: 0;
  margin-right: 200px;
  margin-top: 10px;
  padding: 0;
}

.portfolio-description li {
  margin: 0;
  padding-top: 5px;
}

.portfolio-display {
  margin-left: 30px;
}

.portfolio-piece {
  background-color: #786D5F;
  border-radius: 3px;
  box-shadow: 0 3px 0 0 #a2a2a2;
  cursor: pointer;
  height: 50px;
  position: relative;
  width: 500px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}

.portfolio-piece:hover {
  opacity: 0.7;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}

.portfolio-thumbnail {
  border-radius: 3px;
  height: 150px;
  margin-top: 10px;
  width: auto;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}

.portfolio-thumbnail:hover {
  opacity: 0.5;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}

.project-title {
  color: #FAFAFA;
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  margin-left: 20px;
}

.shared h2 {
  left: 154px;
  position: absolute;
  top: 104px;
  width: 100%;
}

.supatravel h2 {
  left: 136px;
  position: absolute;
  top: 110px;
  width: 100%;
}

.ottavia {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
